/OWINTest.Service/bin
/packages
/OWINTest.Service/Resources
/OpenRastaAPIProject/Resources
/OpenRasta.Owin/Resources
/OpenRasta.Owin.Console/bin/Debug/OpenRasta.Owin.Console.vshost.exe.manifest
/OWINTest.Service/obj/Debug/OpenRasta.Owin.Console.csproj.FileListAbsolute.txt
/OpenRasta.Owin.Console/bin/Debug
/OpenRasta.Owin.Console/obj/Debug
/OpenRasta.Owin/bin/Debug
/OpenRasta.Owin/obj/Debug
/OpenRastaAPIProject/bin/Debug
/OpenRastaAPIProject/obj/Debug
/.nuget/OpenRasta.Owin.1.0.0.nupkg
/OpenRasta.Owin.v12.suo
/OpenRasta.Owin.v2.ncrunchsolution
/OpenRasta.Owin.ncrunchsolution.user
/_NCrunch_OpenRasta.Owin/OpenRasta.Owin.crunchsolution.cache
/OpenRasta.Owin.Test/bin/Debug
/OpenRasta.Owin.Test/obj/Debug
